<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title>Bubble Sort Demo</title>
    </head>
    <body id="app" class="bg-[#002744] flex flex-col h-screen">
        <div class="flex justify-center p-6 text-white font-mono text-4xl">Bubble Sort Algorithm</div>
        <div class="flex text-white flex-grow font-mono">
            <div class="m-auto">
                <div v-if="canceled & complete" class="text-3xl flex justify-center p-2">Sort Canceled</div>
                <div v-else-if="complete &! canceled" class="text-3xl flex justify-center p-2">Sort Complete</div>
                <div v-else class="p-5"></div>
                <div class="p-10 grid grid-cols-7 gap-[3vh]" enter-from-class="translate-x-[150%] opacity-0">
                    <div v-for="number, i in sortedArray" :id="i">
                        <div :class="[activeNumbers.includes(i) ? activeC : keep.includes(i) ? keepC : switching.includes(i) & switching[0] == i & i % 7 == 6 ? switch3C : switching.includes(i) & switching[0] == i ? switch1C : switching.includes(i) & i % 7 == 0 ? switch4C : switching.includes(i) ? switch2C : editMode ? editC : normalC]">
                            <div v-if="switching[0] == i" class="p-3 size-[16vh] text-center algin-middle content-center text-[5vh]">{{sortedArray[i+1]}}</div>
                            <div v-else-if="switching[1] == i" class="p-3 size-[16vh] text-center algin-middle content-center text-[5vh]">{{sortedArray[i-1]}}</div>
                            <div v-else>
                                <div v-if="!editMode" class="p-3 size-[16vh] object-scale-down text-center algin-middle content-center text-[5vh]">{{number}}</div>
                                <div class="size-[16vh] p-3 content-center text-center algin-middle" v-else>
                                    <input type="number" min="0" max="999" v-model="sortedArray[i]" class="text-center algin-middle [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none text-[5vh] max-w-[13vh]">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex w-screen justify-center text-white font-mono">
            <div class="absolute bottom-[10vh] flex justify-center p-6 text-lg">
                Number of Passes: {{passes}}, Total Actions: {{actions}}
            </div>
            <div class="absolute bottom-[14vh] p-6 flex w-screen justify-center">
                <div class="m-auto select-none px-3">
                    Sort Speed: {{speed}}<br>
                    <input v-model="speed" type="range" value="50" min="2" max="98" class="w-full h-6 rounded-lg appearance-none cursor-pointer bg-gray-700 accent-red-100">
                </div>
            </div>
            <div class="flex justify-center p-6">
                <div v-on:click="genNewArr()" :class="[!running ? 'rounded-full w-[15vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-orange-300 hover:outline-orange-200 hover:shadow-lg hover:bg-yellow-950 hover:shadow-orange-500/50 text-[1vw] transition-all cursor-pointer select-none active:scale-110' : 'rounded-full w-[15vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-gray-300 text-[1vw] transition-all cursor-not-allowed select-none']">
                    <div class="p-2">Generate Random List</div>
                </div>
            </div>
            <div class="flex justify-center p-6">
                <div v-if="!running" v-on:click="sort()" :class="[!editMode ? 'rounded-full w-[15vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-green-300 hover:outline-green-200 hover:shadow-lg hover:bg-green-900 hover:shadow-green-500/50 text-[1vw] transition-all cursor-pointer select-none active:scale-110' : 'rounded-full w-[15vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-gray-300 text-[1vw] transition-all cursor-not-allowed select-none']">
                    <div class="p-2">Sort List</div>
                </div>
                <div v-else v-on:click="canceled = true, cancel()" class="rounded-full w-[15vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-red-400 hover:outline-red-300 hover:shadow-lg hover:bg-red-950 hover:shadow-red-500/50 text-[1vw] transition-all cursor-pointer select-none active:scale-110">
                    <div class="p-2">Cancel</div>
                </div>
            </div>
            <div class="flex justify-center p-6">
                <div v-if="!running" v-on:click="editMode = !editMode" class="rounded-full w-[15vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-sky-300 hover:outline-sky-200 hover:shadow-lg hover:bg-sky-900 hover:shadow-sky-500/50 text-[1vw] transition-all cursor-pointer select-none active:scale-110">
                    <div class="p-2">Toggle Edit Mode</div>
                </div>
                <div v-else class="rounded-full w-[15vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-gray-300 text-2xl transition-all cursor-not-allowed select-none">
                    <div class="p-2">Toggle Edit Mode</div>
                </div>
            </div>
            <div v-if="editMode & numbersInArray < 21" class="flex justify-center p-6">
                <div  v-on:click="numbersInArray++, sortedArray.push(0)" class="rounded-full w-[3vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-green-300 hover:outline-green-200 hover:shadow-lg hover:bg-green-900 hover:shadow-green-500/50 text-[1vw] transition-all cursor-pointer select-none active:scale-110">
                    <div class="p-2">+</div>
                </div>
            </div>
            <div v-if="editMode & numbersInArray > 0" class="flex justify-center p-6">
                <div v-on:click="numbersInArray -= 1, sortedArray.pop(-1)" class="rounded-full w-[3vw] text-center p-3 outline-2 outline-offset-2, outline-solid, outline-red-400 hover:outline-red-300 hover:shadow-lg hover:bg-red-950 hover:shadow-red-500/50 text-[1vw] transition-all cursor-pointer select-none active:scale-110">
                    <div class="p-2">-</div>
                </div>
            </div>
        </div>
    </body>
    <script>
    const app = Vue.createApp({
        data() {
            return {
                activeC : 'outline-[0.3vh] outline-yellow-500 hover:bg-yellow-800 bg-yellow-950 outline-offset-2 hover:shadow-yellow-600 outline-solid rounded-full hover:shadow-lg select-none',
                keepC : 'outline-[0.3vh] outline-green-500 hover:bg-green-800 bg-green-950 outline-offset-2 hover:shadow-green-600 outline-solid rounded-full hover:shadow-lg transition-all select-none',
                switch1C : 'outline-[0.3vh] outline-yellow-500 hover:bg-yellow-800 bg-yellow-950 outline-offset-2 outline-solid rounded-full hover:shadow-lg hover:shadow-yellow-600 transition-all select-none translate-x-[19vh]',
                switch2C : 'outline-[0.3vh] outline-yellow-500 hover:bg-yellow-800 bg-yellow-950 outline-offset-2 outline-solid rounded-full hover:shadow-lg hover:shadow-yellow-600 transition-all select-none -translate-x-[19vh]',
                switch3C : 'outline-[0.3vh] outline-yellow-500 hover:bg-yellow-800 bg-yellow-950 outline-offset-2 outline-solid rounded-full hover:shadow-lg hover:shadow-yellow-600 transition-all select-none -translate-x-[114vh] translate-y-[19vh]',
                switch4C : 'outline-[0.3vh] outline-yellow-500 hover:bg-yellow-800 bg-yellow-950 outline-offset-2 outline-solid rounded-full hover:shadow-lg hover:shadow-yellow-600 transition-all select-none translate-x-[114vh] -translate-y-[19vh]',
                normalC : 'outline-[0.2vh] outline-offset-2 outline-solid hover:bg-gray-600 bg-gray-700 rounded-full hover:shadow-lg hover:shadow-gray-400 select-none',
                editC : 'outline-[0.2vh] outline-fuchsia-600 outline-offset-2 outline-solid hover:bg-fuchsia-900 bg-fuchsia-950 rounded-full hover:shadow-lg hover:shadow-fuchsia-600 select-none',
                speed : 50,
                sortedArray : [],
                activeNumbers : [],
                keep : [],
                switching : [],
                checkChange : false,
                passes : 0,
                complete : false,
                canceled : false,
                running : false,
                editMode : false,
                numbersInArray : 7,
                actions : 0
            }
        },
        mounted(){
            this.genNewArr()
        },
        methods: {
            genNewArr(){
                if (!this.running){
                    this.actions = 0
                    this.passes = 0
                    this.sortedArray = []
                    this.complete = false
                    for (let i = 0; i <this.numbersInArray; i++){
                        this.sortedArray.push(Math.floor(Math.random() * 101))
                    }
                }
            },
            async sort(){
                if (!this.editMode){
                    let proceed = 0
                    let i = 0
                    this.running = true
                    this.canceled = false
                    this.complete = false
                    while (!this.complete & !this.canceled){
                        this.activeNumbers = []
                        this.keep = []
                        this.switching = []
                        if (i <= this.sortedArray.length - 2){
                            if (proceed % 2 != 0){
                                    if (this.sortedArray[i] > this.sortedArray[i+1]){
                                        let temp = this.sortedArray[i]
                                        this.sortedArray[i] = this.sortedArray[i+1]
                                        this.sortedArray[i+1] = temp
                                        this.switching.push(i, i+1)
                                        this.checkChange = true
                                        this.actions++
                                    } else{
                                        this.keep.push(i, i+1)
                                    }
                                    i++
                            } else{
                                this.activeNumbers.push(i+0, i+1)
                                this.actions++
                            }
                        } else{
                            i = 0
                            this.passes++
                            this.activeNumbers = [0, 1]
                            this.switching = []
                            this.keep = []
                            if (!this.checkChange){
                                this.complete = true
                                this.running = false
                                this.activeNumbers = []
                                this.actions =  0
                            }
                            this.checkChange = false
                        }
                        proceed++
                        await this.sleep(this.speed)
                    }
                }
            },
            sleep(msec){
                return new Promise(resolve => setTimeout(resolve, (100-this.speed)*20));
            },
            cancel(){
                this.complete = true
                this.running = false
                this.activeNumbers = []
                this.keep = []
                this.switching = []
            }
        }
    })
    app.mount('#app')
    </script>
</html>